<div class="archived">
  <h1 class="title">Archived list</h1>
  <div class="dataList archivedTableHeaderCommon">
    <p></p>
    <p><span>Name</span></p>
    <p><span>Created</span></p>
    <p><span>Category</span></p>
    <p>Content</p>
    <p>Archived</p>
    <img src="./images/archive.svg" width="32" height="32" alt="test" />
  </div>
  <ul class="archivedList">
    <li class="archivedList rawCommonArchived" data-rawId="1">
      <div>
        <img
          src="./images/shopping-cart-svgrepo-com.svg"
          width="32"
          height="32"
          alt="test"
        />
      </div>
      <p>Shoppping list</p>
      <p>Date</p>
      <p>Task</p>
      <p>Tomatoes, bread</p>
      <p>Date</p>
      <button type="button">
        <img
          src="./images/edit-svgrepo-com.svg"
          width="32"
          height="32"
          alt="test"
        />
      </button>
      <button type="button">
        <img
          src="./images/archive-svgrepo-com.svg"
          width="32"
          height="32"
          alt="test"
        />
      </button>
      <button type="button">
        <img
          src="./images/delete-svgrepo-com.svg"
          width="32"
          height="32"
          alt="test"
        />
      </button>
    </li>
  </ul>
</div>
