<div class="notes">
  <div class="dataList tableHeaderCommon">
    <p class="dataElement"></p>
    <p class="dataElement"><span>Name</span></p>
    <p class="dataElement"><span>Created</span></p>
    <p class="dataElement"><span>Category</span></p>
    <p class="dataElement dataElementRight dataElementGreen">Content</p>
    <p class="dataElement dataElementBalance">Dates</p>
    <p class="dataElement dataElementBalance"></p>
    <img
      src="./images/archive-svgrepo-com.svg"
      width="32"
      height="32"
      alt="test"
    />

    <img
      src="./images/delete-svgrepo-com.svg"
      width="32"
      height="32"
      alt="test"
    />
  </div>
  <ul>
    <li class="dataList rawCommon" data-rawId="1">
      <div class="dataElement">
        <img
          src="./images/shopping-cart-svgrepo-com.svg"
          width="32"
          height="32"
          alt="test"
        />
      </div>
      <p class="dataElement dataElementCenter">Shoppping list</p>
      <p class="dataElement">Date</p>
      <p class="dataElement">Task</p>
      <p class="dataElement dataElementRight dataElementGreen">
        Tomatoes, bread
      </p>
      <p class="dataElement dataElementBalance">Date</p>
      <button type="button" class="buttonDeleteTransaction">
        <img
          src="./images/edit-svgrepo-com.svg"
          width="32"
          height="32"
          alt="test"
        />
      </button>
      <button type="button" class="buttonDeleteTransaction">
        <img
          src="./images/archive-svgrepo-com.svg"
          width="32"
          height="32"
          alt="test"
        />
      </button>
      <button type="button" class="buttonDeleteTransaction">
        <img
          src="./images/delete-svgrepo-com.svg"
          width="32"
          height="32"
          alt="test"
        />
      </button>
    </li>
    <!-- <li class="dataList rawCommon">
      <p class="dataElement"><span>9/16/22</span></p>
      <p class="dataElement dataElementCenter"><span>+</span></p>
      <p class="dataElement"><span>Регулярный доход</span></p>
      <p class="dataElement"><span>No comment</span></p>
      <p class="dataElement dataElementRight dataElementGreen">
        <span>1789</span>
      </p>
      <p class="dataElement dataElementBalance"><span>1759</span></p>
      <button class="buttonDeleteTransaction">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          class="circleDelete"
        >
          <path
            d="M16 0C7.163 0 0 7.163 0 16s7.163 16 16 16 16-7.163 16-16S24.837 0 16 0zm0 29C8.82 29 3 23.18 3 16S8.82 3 16 3s13 5.82 13 13-5.82 13-13 13z"
          ></path>
          <path d="M21 8l-5 5-5-5-3 3 5 5-5 5 3 3 5-5 5 5 3-3-5-5 5-5z"></path>
        </svg>
      </button>
    </li>
    <li class="dataList rawCommon">
      <p class="dataElement"><span>9/16/22</span></p>
      <p class="dataElement dataElementCenter"><span>+</span></p>
      <p class="dataElement"><span>Регулярный доход</span></p>
      <p class="dataElement"><span>No comment</span></p>
      <p class="dataElement dataElementRight dataElementGreen">
        <span>1789</span>
      </p>
      <p class="dataElement dataElementBalance"><span>1759</span></p>
      <button class="buttonDeleteTransaction">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          class="circleDelete"
        >
          <path
            d="M16 0C7.163 0 0 7.163 0 16s7.163 16 16 16 16-7.163 16-16S24.837 0 16 0zm0 29C8.82 29 3 23.18 3 16S8.82 3 16 3s13 5.82 13 13-5.82 13-13 13z"
          ></path>
          <path d="M21 8l-5 5-5-5-3 3 5 5-5 5 3 3 5-5 5 5 3-3-5-5 5-5z"></path>
        </svg>
      </button>
    </li>
    <li class="dataList rawCommon">
      <p class="dataElement"><span>9/16/22</span></p>
      <p class="dataElement dataElementCenter"><span>+</span></p>
      <p class="dataElement"><span>Регулярный доход</span></p>
      <p class="dataElement"><span>No comment</span></p>
      <p class="dataElement dataElementRight dataElementGreen">
        <span>1789</span>
      </p>
      <p class="dataElement dataElementBalance"><span>1759</span></p>
      <button class="buttonDeleteTransaction">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          class="circleDelete"
        >
          <path
            d="M16 0C7.163 0 0 7.163 0 16s7.163 16 16 16 16-7.163 16-16S24.837 0 16 0zm0 29C8.82 29 3 23.18 3 16S8.82 3 16 3s13 5.82 13 13-5.82 13-13 13z"
          ></path>
          <path d="M21 8l-5 5-5-5-3 3 5 5-5 5 3 3 5-5 5 5 3-3-5-5 5-5z"></path>
        </svg>
      </button>
    </li>
    <li class="dataList rawCommon">
      <p class="dataElement"><span>9/16/22</span></p>
      <p class="dataElement dataElementCenter"><span>+</span></p>
      <p class="dataElement"><span>Регулярный доход</span></p>
      <p class="dataElement"><span>No comment</span></p>
      <p class="dataElement dataElementRight dataElementGreen">
        <span>1789</span>
      </p>
      <p class="dataElement dataElementBalance"><span>1759</span></p>
      <button class="buttonDeleteTransaction">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          class="circleDelete"
        >
          <path
            d="M16 0C7.163 0 0 7.163 0 16s7.163 16 16 16 16-7.163 16-16S24.837 0 16 0zm0 29C8.82 29 3 23.18 3 16S8.82 3 16 3s13 5.82 13 13-5.82 13-13 13z"
          ></path>
          <path d="M21 8l-5 5-5-5-3 3 5 5-5 5 3 3 5-5 5 5 3-3-5-5 5-5z"></path>
        </svg>
      </button>
    </li> -->
  </ul>
  <include src="../src/partials/addNoteButton.html"></include>
</div>
