<div class="notes">
  <div class="dataList tableHeaderCommon">
    <p class="dataElement"></p>
    <p class="dataElement"><span>Name</span></p>
    <p class="dataElement"><span>Created</span></p>
    <p class="dataElement"><span>Category</span></p>
    <p class="dataElement dataElementRight dataElementGreen">Content</p>
    <p class="dataElement dataElementBalance">Dates</p>
    <p class="dataElement dataElementBalance"></p>
    <img
      src="./images/archive-svgrepo-com.svg"
      width="32"
      height="32"
      alt="test"
    />

    <img
      src="./images/delete-svgrepo-com.svg"
      width="32"
      height="32"
      alt="test"
    />
  </div>
  <ul class="tableHeader">
    <li class="dataList rawCommon" data-rawId="1">
      <div class="dataElement">
        <img
          src="./images/shopping-cart-svgrepo-com.svg"
          width="32"
          height="32"
          alt="test"
        />
      </div>
      <p class="dataElement dataElementCenter">Shoppping list</p>
      <p class="dataElement">Date</p>
      <p class="dataElement">Task</p>
      <p class="dataElement dataElementRight dataElementGreen">
        Tomatoes, bread
      </p>
      <p class="dataElement dataElementBalance">Date</p>
      <button type="button" class="buttonDeleteTransaction">
        <img
          src="./images/edit-svgrepo-com.svg"
          width="32"
          height="32"
          alt="test"
        />
      </button>
      <button type="button" class="buttonDeleteTransaction">
        <img
          src="./images/archive-svgrepo-com.svg"
          width="32"
          height="32"
          alt="test"
        />
      </button>
      <button type="button" class="buttonDeleteTransaction">
        <img
          src="./images/delete-svgrepo-com.svg"
          width="32"
          height="32"
          alt="test"
        />
      </button>
    </li>
  </ul>
  <include src="../src/partials/addNoteButton.html"></include>
  <include src="./partials/modal.html"></include>
</div>
