<div>
  <h1 class="title">Archived list</h1>
  <div class="dataList tableHeaderCommon">
    <p></p>
    <p><span>Name</span></p>
    <p><span>Created</span></p>
    <p><span>Category</span></p>
    <p>Content</p>
    <p>Dates</p>
    <p></p>
    <img src="./images/archive.svg" width="32" height="32" alt="test" />

    <img
      class="clear"
      src="./images/delete-svgrepo-com.svg"
      width="32"
      height="32"
      alt="test"
    />
  </div>
  <ul class="tableHeader"></ul>
  <include src="../src/partials/addNoteButton.html"></include>
</div>
