<div class="summary">
  <h1 class="title">Summary List</h1>
  <div class="dataList summaryTableHeaderCommon">
    <p ></p>
    <p ><span>Note Category</span></p>
    <p ><span>Active</span></p>
    <p ><span>Archived</span></p>
  </div>
  <ul class="summaryList">
    <li class="summaryList rawCommonSummary" data-rawId="1">
      <div >
        <img
          src="./images/shopping-cart-svgrepo-com.svg"
          width="32"
          height="32"
          alt="test"
        />
      </div>
      <p >Name category</p>
      <p >Active</p>
      <p >Archived</p>
    </li>
  </ul>
</div>
